@import "@/styles/mixins";
@import "@/styles/typography";
@import "@/styles/variables";

.order {
  display: grid;
  padding: 48px;
  background: $card-color;
  border-radius: 4px;
  gap: 32px;
  grid-template: 1fr auto / 1fr auto;
  h2 {
    font-size: 50px;
    line-height: 64px;
    grid-column-start: 2 span;
  }
  p {
    font-size: 24px;
    grid-area: 2/1;
  }

  button {
    grid-area: 2/2;
    padding: 16px 32px;
    height: fit-content;
    margin-top: auto;
    width: fit-content;
  }
  @include pc {
    padding: 32px;
  }
  @include tablet-big {
    padding: 24px;
    h2 {
      font-size: 42px;
      line-height: 54px;
    }
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2 {
      font-size: 32px;
      line-height: 42px;
    }
  }
  @include mobile-big {
    padding: 16px;
    p {
        font-size: 16px;
    }
  }

  @include mobile-mid {
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
  }
}
