@import "@/styles/mixins";
@import "@/styles/typography";
@import "@/styles/variables";
.nav {
  position: relative;
  @include pc {
    display: none;
  }
  &-sidebar {
    position: fixed;
    right: 1.5%;
    top: 25%;
    display: flex;
    gap: 8px;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-end;
    @include laptop {
      font-size: 12px;
    }
    &__item {
      cursor: pointer;
      padding: 8px;
      position: relative;
      width: fit-content;
      &::after {
        content: "";
        position: absolute;
        // width: 10px;
        // height: 10px;
        // background: rgba(255, 255, 255, 0.04);
        // background: red;
        right: -32px;
        top: 50%;
        border: 16px solid transparent;
        border-left: 16px solid rgba(255, 255, 255, 0.04);
        transform: translateY(-50%);
      }
    }
  }
}

