@import "@/styles/mixins";
@import "@/styles/typography";
@import "@/styles/variables";

.heroSegment {

  .container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    height: 100%;
    @include break-height(1000px) {
      min-height: calc(100svh - 100px);
    }
  
    @include break-height(600px) {
      min-height: auto;
    }

    @include mobile-big {
      min-height: unset !important;
      gap: 64px !important;
    }
  }
  h1 {
    font-size: 100px;
    line-height: 130px;
    br {
      &:last-child {
        display: none;
      }
    }
  }
  p {
    font-size: 32px;
    line-height: 42px;
  }

  &__bitrix-logo {
    position: absolute;
    bottom: 10%;
    right: 64px;
    border-radius: 4px;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    padding: 12px;
    z-index: -1;
  }

  @include pc {
    &__bitrix-logo {
      max-width: 350px;
      right: 32px;
    }
  }
  @include break(1310px) {
    &__bitrix-logo {
      max-width: 300px;
    }
  }

  @include break(1260px) {
    .container {
      padding-top: 60px;
    }
    &__bitrix-logo {
      max-width: 250px;
    }
  }
  @include laptop {
    height: auto;
    .container {
      gap: 100px;
      padding-top: 0;
    }
    h1 {
      font-size: 72px;
      line-height: 94px;
    }
    p {
      font-size: 24px;
      line-height: 32px;
    }
  }

  @include tablet-big {
    .container {
      padding-top: 60px;
    }
    &__bitrix-logo {
      max-width: 200px;
    }
  }
  @include tablet {
    .container {
      padding-top: 0;
    }
    h1 {
      font-size: 48px;
      line-height: 60px;
    }

    &__bitrix-logo {
      max-width: 200px;
      right: 24px;
      bottom: 15%;
    }
  }

  @include break(650px) {
    .container {
      padding-top: 60px;
    }
    &__bitrix-logo {
      max-width: 150px;
    }
  }
  @include mobile-big {
    .container {
      padding-top: 0;
      gap: 20px;
    }
    &__bitrix-logo {
      position: static;
      max-width: 300px;
      margin: 0 auto;
    }
    h1 {
      font-size: 40px;
      line-height: 44px;
      br {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }
    p {
      font-size: 19px;
    }
  }

  @include mobile {
    h1 {
      font-size: 36px;
    }
    p {
      line-height: 26px;
      br {
        display: none;
      }
    }
  }

  @include mobile-min {
    h1 {
      font-size: 32px;
    }
  }
}
