@import "@/styles/mixins";
@import "@/styles/typography";
@import "@/styles/variables";
.bitrix-overview__container {
  padding-top: 120px;
  // padding-left: 111px;
  @include tablet {
    padding-top: 110px;
  }
  @include mobile-big {
    padding-top: 100px;
  }
}
